<!-- 변수를 사용해봅시다 -->
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
</head>
<body ng-app ng-init="yourName_1='친구들'">
					<!-- 
					ng-init을 통해 yourName _1변수에 값을 할당함  
					<문제>앵귤러 어플리케이션이 해당하는 태그는 무엇인가?(복수)
					-->
	<h1>{{'Hello'+'World'}} {{yourName_1}}!</h1>
	<!-- {{yourName}} 자리에 변수의 값을 보여준다  -->


	<!-- 위에는 초기화된 변수를 쓴다면 지금은 입력받은 변수를 쓸거에요! -->
	<label>이름:</label>
	<input type="text" ng-model="yourName_2" placeholder="여기에 이름을 입력하세요">
						<!--
						ng-model을 통해 yourName _2변수를 선언하고 <input>태크로 입력받는다
						-->
	<h1>안녕 {{yourName_2}}!</h1>
	<!--  {{yourName}} 자리에 변수의 값을 보여준다  --> 



	<label>이름:</label>
	<input type="text" ng-model="yourName_3" placeholder="여기에 이름을 입력하세요">

	<h1>안녕 <span ng-bind='yourName_3'></span>!</h1>
</body>
</html>


<!--
ng-bind, ng-model의 차이
ng-bind : {{}}와 같은 의미기이도 하며, 모델에서 값을 읽어온다.
ng-model : input 등에서 사용하며, 모델에 값을 넣는다.
 -->