body {
  color: white;
  background: #CECEF6;
}

button {
  pointer: cursor;
}

input[type=file] {
	position: absolute;
	left: 20%;

  width: 1000px;
  height: 500px;
  background: black;
 /* background: url('images.png') no-repeat;*/
  background-image: url('images.png');
  background-repeat: no-repeat;
  background-size: 1000px 500px;
}
h1{
	color: red;
	position: absolute;
	top: 600px;
	z-index: 100;
}
.aa{
	top: 800px;
}
.list{
	position: relative;
}
.content{
	position: relative;
	top: 600px;
}
#sortable { list-style-type: none; margin: 0; padding: 0; left: 15%; width: 1200px; }
#sortable span { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 370px; height: 400px;}
#sortable span img{}